/***** Template ****/
html {
    margin-top: 0px;
    padding-top: 0;
}

body {
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background: #f2f2f2; 
}

.hero {
    padding: 10px 0 20px 0;
    text-align: center;
    color: white;
    background: #3d4a57;
}

.hero h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.hero ul.widget-nav {
    list-style-type: none;
    text-align: left;
}

.hero ul.widget-nav li.active a,
.hero ul.widget-nav li a:hover {
    color: yellow;
}

.hero ul.widget-nav li {
    margin-left: 20px;
    display: inline;
}

.hero ul.widget-nav li a {
    color: white;
}

@media (min-width: 1080px) { 
    body {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (max-width: 1079px) { 
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
/***** Plugins Container ****/
#plugins {
    padding: 20px;
    border: 1px;
    background: white;
}

#plugins section {
    clear: both;
}

/***** Plugin ****/

.plugin {
    float: left;
    padding: 0;
    margin: 10px;
    /*border-top: 20px solid #445561;*/
    /*background-color: #f9f6f1;*/
    background-color: white;
    color: black;
    max-width: 90%;
}

.plugin .top-bar {
    height: 25px;
    max-width: 100%;
    padding: 5px;
    background-color: #445561;
    color: white;
    text-align: center;
}

.plugin .no-padding {
    padding: 0px;
}

.plugin-body {
    font-size: 12px;
    padding: 10px;
    line-height: 30px;
}

.plugin last-update{
    font-size: 11px;
    float: left;
}

.plugin h3{
    padding-top: 10px;
    clear: both;
    font-weight: normal;
}

refresh-btn button {
    background-color: green;
    width: 30px;
    border: 0;
    color: white;
    float: right;
    font-size: 15px;
}

/**** Section ****/
section {
    text-align: center;
    display: block;
}

section h2 {
    font-weight: normal;
    color: #333;
    text-decoration: underline;
}

/**** General Elements ****/
table
{
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    /*background: rgba(255, 255, 255, .5) */;
    margin: 0;
    min-width: 400px;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-weight: normal;
    color: #039;
    padding-right: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #6678b1;
}
table td
{
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
}
table tbody tr:hover td
{
    color: #009;
}

canvas {
    
}
/*********************************************
    Widget Elements
*********************************************/
.progress-bar {
    background-color: lightgrey;
    border-radius: 10px; /* (height of inner div) / 2 + padding */
    padding: 0px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.progress-bar > div {
    background-color: green;
    width: 0%;
    height: 5px;
    border-radius: 5px;
}
