@import "theme-old.css";

/**************************************
  Theme: Winter
**************************************/

html.winter {
  background: url(../img/themes/contemporary_china_2.png) ;
}
html.winter .hero nav-bar ul li.active a,
html.winter .hero nav-bar ul li a:hover {
  color: #23568f;
}
html.winter .plugin {
  background-color: rgba(255, 255, 255, 0.60);
}
html.winter .plugin .top-bar {
  color: #012e40;
}
html.winter .plugin refresh-btn button {
  background-color: #4c6c73;
}
table th {
  color: #012e40;
}

/**************************************
  Theme: Summer
**************************************/

html.summer {
  clear: both;
  background: url(../img/themes/congruent_pentagon.png);
}
html.summer .hero nav-bar ul li.active a,
html.summer .hero nav-bar ul li a:hover {
  color: #D84315;
}
html.summer .plugin{
  background-color: rgba(255, 255, 255, 0.8);
}
html.summer .plugin .top-bar {
  color: #BF360C;
}
html.summer .plugin refresh-btn button {
  background-color: #BF360C;
}

/**************************************
  Theme: Spring
**************************************/

html.spring {
  clear: both;
  background: url(../img/themes/food.png);
}
html.spring .hero nav-bar ul li.active a,
html.spring .hero nav-bar ul li a:hover {
  color: #E65100;
}
html.spring .plugin {
  background-color: rgba(255,255,255,0.95);
}
html.spring .plugin .top-bar {
  color: #FF6D00;
}
html.spring .plugin refresh-btn button {
  background-color: #E65100;
}

/**************************************
  Theme: Fall
**************************************/

html.fall {
  background: url(../img/themes/skulls.png);   
}
html.fall .plugin {
  background: url(../img/themes/crossword.png);
}
html.fall .hero nav-bar ul li.active a,
html.fall .hero nav-bar ul li a:hover,
html.fall .plugin .top-bar {
  color: #F09819;
}
html.fall .plugin refresh-btn button {
  background-color: #FF512F;
}
