/**************************************
  Theme: Winter
**************************************/

html.winter {
  clear: both;
  background-color: #bbe2f2;
}
html.winter .hero nav-bar ul li.active a,
html.winter .hero nav-bar ul li a:hover {
  color: #23568f;
}
html.winter .plugin {

}
html.winter .plugin .top-bar {
  color: #012e40;
}
html.winter .plugin refresh-btn button {
  background-color: #4c6c73;
}
table th {
  color: #012e40;
}

/**************************************
  Theme: Summer
**************************************/

html.summer {
  clear: both;
  background-color: #FBE9E7;
}
html.summer .hero nav-bar ul li.active a,
html.summer .hero nav-bar ul li a:hover {
  color: #D84315;
}
html.summer .plugin {
}
html.summer .plugin .top-bar {
  color: #BF360C;
}
html.summer .plugin refresh-btn button {
  background-color: #BF360C;
}

/**************************************
  Theme: Spring
**************************************/

html.spring {
  clear: both;
  background-color: #FFF8E1;
}
html.spring .hero nav-bar ul li.active a,
html.spring .hero nav-bar ul li a:hover {
  color: #E65100;
}
html.spring .plugin, 
{
  background-color: #E1F5FE;
}
html.spring .plugin .top-bar {
  color: #FF6D00;
}
html.spring .plugin refresh-btn button {
  background-color: #E65100;
}

/**************************************
  Theme: Fall
**************************************/

html.fall {
  clear: both;
  background-color: #EBE3D9;
}
html.fall .hero nav-bar ul li.active a,
html.fall .hero nav-bar ul li a:hover {
  color: #94353C;
}
html.fall .plugin {
}
html.fall .plugin .top-bar {
  color: #5C0811;
}
html.fall .plugin refresh-btn button {
  background-color: #DBA72E;
}