<div class="plugin">

	<top-bar heading="heading" last-updated="lastGet" no-refresh-btn></top-bar>

	<div class="plugin-body no-padding">

		<canvas ng-show="!initializing && !emptyResult" class="canvas" width="400" height="200"></canvas>

		<table ng-show="!initializing && !emptyResult" border="0" class="metrics-table">
			<tbody>
				<tr ng-repeat="metric in metrics">
					<td><strong>{{ metric.name }}</strong></td>
					<td>{{ metric.data }}</td>
				</tr>
			</tbody>
		</table>

		<no-data ng-show="emptyResult"></no-data>

	</div>
</plugin>
