<form name="addNewServerForm" ng-submit="addNewServerForm.$valid && addNewServer(newServer)">

  <p>
    <small>Switch between Linux Dash servers easily</small>
  </p>

  <input
    class="add-new-server-input"
    type="text"
    name="newServer"
    placeholder="Add New Server"
    ng-model="newServer"
    required>

</form>

<ul>
  <li ng-repeat="hostname in servers track by $index">
    <a href="{{ hostname }}">{{ hostname }}</a>
    <button ng-click="removeServer($index)">x</button>
  </li>
</ul>
