.ld-sidebar-container {
  width: 25%;
  min-width: 300px;

  height: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  transition: all 0.2s ease;
  left: -100%;
  background: #009587;
}

.ld-sidebar-toggle-btn {
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 18px;
  color: #fff;
  background-color: #009587;
  border: none;
  border-radius: 2px;
  outline: 0;
}

.ld-sidebar-toggle-btn.highlight,
.ld-sidebar-toggle-btn:hover {
  background-color: #ffeb3b;
  color: black;
}

.ld-sidebar-header {
  color: white;
}

.ld-sidebar-body {
  color: white;
}

.ld-sidebar-container.open {
  box-shadow: 1px 0 20px #222;
  left: 0;
}

.ld-sidebar-open-overlay {
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  visibility: hidden;
  background: rgba(0,0,0, 0.5);
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.ld-sidebar-open-overlay.show {
  visibility: visible;
  opacity: 1;
}
