nav-bar {
  display: block;
  text-align: center;
}

nav-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

nav-bar ul li a {
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 2.3rem;
  color: #222;
}

nav-bar ul li.active a,
nav-bar ul li a:hover {
  color: #009587;
  text-decoration: underline;
}

nav-bar ul li {
  margin-left: 20px;
  display: inline;
}
