<plugin 
	heading="Disk Partitions"
	last-updated="lastGet"
	on-refresh="getData()">

	<loader ng-hide="diskSpaceData"></loader>

	<table ng-show="diskSpaceData">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
				<th>Stats</th>
				<th>% Full</th>
				<th>Mount Path</th>
			</tr>
		</thead>
		<tbody>
			<tr  ng-repeat="partition in diskSpaceData">
				<td>{{partition['file_system']}}</td>
				<td>
					<progress-bar-plugin
					    width="70px"
					    value="{{ getKB(partition['used']) }}"
					    max="{{ getKB(partition['size']) }}">
					</progress-bar-plugin>
				</td>
				<td>
					{{ partition['used'] }} / {{ partition['size'] }}
				</td>
				<td>
					{{ partition['used%'] }}
				</td>
				<td>{{ partition['mounted'] }}</td>
			</tr>
		</tbody>
	</table>
	
</plugin>
