#hero .title {
  color: rgb(34, 34, 34);
  display: block;
  font-size: 30px;
  font-weight: 300;
  height: 32px;
  letter-spacing: .1rem;
  line-height: 52.5px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
}
